<h1 class=text-center>Editing Chat</h1>
<div class="container">
	<%= render 'form', chat: @chat %>
	<%= link_to 'Show', @chat ,class:"btn btn-primary"%> |
	<%= link_to 'Back', chats_path ,class:"btn .btn-default"%>
</div>
